# ==============================
# Virtual Environment
# ==============================
chat_bot/


# ==============================
# Environment / Secrets
# ==============================
.env
grok_key.txt


# ==============================
# Python Cache
# ==============================
__pycache__/
*.pyc
*.pyo


# ==============================
# Temporary / Test Files
# ==============================
test1.py


# ==============================
# Editor / IDE
# ==============================
.vscode/
.idea/


# ==============================
# Currently not used
# ==============================
backend/models.py
backend/__init__.py